/**
 * Non-bootstrap styling for the bot UI
 */

.potential tr:nth-child(n + 45) { display:none; }
.potential.showAll tr { display:table-row; }
.potential tr { -webkit-transition: all 2s ease; }

.potential .free { background-color:#00FF00; }

.active { background-color:yellow; font-weight:bold; }
.hasId { background-color:yellow; }
.best { background-color:red !important; }

.config * { display:inline-block; }
#configs { margin-left:50px; }

#roster { overflow:hidden; margin-left:-40px; }
#roster li { float:left; padding:5px; list-style-type:none; }

 #manualPopup { position:absolute; font-size:18px; display:none; background-color:#404040; z-index:100; border-radius:5px; }
 #manualPopup .btn { margin:5px }
